.Section{
    display: flex;
    flex-direction: column;
    padding: 0 ;
    margin: 0 auto;
    max-width: 1040px;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
    margin-bottom: 4rem;
}
.SectionTitle {
    font-weight: 800;
    font-size: 65px;
    line-height:72px;
    width: max-content;
    max-width: 100%;
    color: rgb(245, 184, 0);
    margin-bottom: 1rem;
    padding: 58px 0px 16px;
}
.SectionText{
    max-width: 800px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 300%;
    padding-bottom: 10rem;
    padding-left: 5rem;
}
.Row{
    display: flex;
}
.Column{
    flex: 50%;
    padding: 10px;
}
.profileImage{
    padding-top: 50px;
}
.Card {
    border-radius: 20px;
    background-color: rgb(25, 25, 25);
    box-shadow: 3px 3px 10px rgba(150, 149, 149, 0.5);
    width:850px;
    height:450px;
    margin-left: 90px;
    padding-top: 20px;
}
.Card:hover {
    box-shadow: 0 8px 16px 0 rgba(91, 90, 90, 0.2);
    background-color: rgb(174, 174, 174);
  }
.Text{
    max-width: 800px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 300%;
    padding-top: 50px;
}
  