.Section{
    display: flex;
    flex-direction: column;
    padding: 0 ;
    margin: 0 auto;
    max-width: 1040px;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
}
.SectionTitle {
    font-weight: 800;
    font-size: 65px;
    line-height:72px;
    width: max-content;
    max-width: 100%;
    color: rgb(245, 184, 0);
    margin-bottom: 2rem;
    padding: 58px 0px 16px;
}
.SectionText{
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
    padding-bottom: 10rem;
    padding-left: 5rem;
}
.Row{
    display: flex;
}
.Column{
    flex: 50%;
    padding: 10px;
}
.projectImage{
    text-align: center;
    margin-top: 20px;
}