.Section{
    display: flex;
    flex-direction: column;
    padding: 0 ;
    margin: 0 auto;
    max-width: 1040px;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;

}
.SectionTitle {
    font-weight: 800;
    font-size: 65px;
    line-height:72px;
    width: max-content;
    max-width: 100%;
    color: rgb(245, 184, 0);
    margin-bottom: 2rem;
    padding: 58px 0px 16px;
}
.SectionText{
    max-width: 800px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
    padding-bottom: 2rem;

}
.Row{
    display: flex;
}
.Column{
    flex: 50%;
    padding: 10px;
}
.skillImage{
    text-align: center;
}
.GridContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    padding: 3rem;
    place-items: center;
    column-gap: 2rem;
    row-gap: 3rem;
}
.BlogCard{
    border-radius: 10px;
    box-shadow: 3px 3px 20px rgba(80, 78, 78, 0.5);
    text-align: center;
    width: 400px;
}
.button {
    background-color: #2c2c2c;
    border-radius: 8px;
    color: white;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 300%;
    display: inline-block;
    font-size: 16px;
    margin-top: 2rem;
  }
  .button:hover {
    background-color: #c4bebe;
    color: rgb(28, 27, 27);
    
  }
  .TextTitle{
    max-width: 800px;
    font-size: 18px;
    line-height: 40px;
    font-weight: 300%;
    padding-bottom: 1.5rem;
  }
  .TextDescription{
    max-width: 800px;
    font-size: 14px;
    line-height: 40px;
    font-weight: 300%;
    text-align: start;
    margin-top:1.5rem;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
  }