.Container{
    display: grid;
    padding: 1rem;
    padding-top: 2rem;
    grid-template-rows: 1fr;
    grid-column-gap: 2rem;
}
.TextTitle{
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
    padding-bottom: 1rem;
}
.Text{
    font-size: 16px;
    line-height: 40px;
    font-weight: 300;
}
.Coppyright{
    max-width: 800px;
    font-size: 12px;
    line-height: 40px;
    font-weight: 300;
}