.Navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(245, 184, 0);
  }
  
.Navli1 {
    display: inline;
    float: left;
    padding-left: 1.5rem;
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
  }
.Nava {
    display: block;
    padding: 8px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
}
.Nava:hover{
    background-color: rgb(29, 29, 29);
}
.Navli2 {
    display: inline;
    float: right;
    padding-left: 1.5rem;
    font-size: 20px;
    line-height: 40px;
    font-weight: 300;
  }

